/repositories/admin.tf: @open-telemetry/admins @open-telemetry/admins     
/repositories/allstar.tf: @open-telemetry/admins @open-telemetry/sig-security-maintainers
/repositories/assign-reviewers-action.tf: @open-telemetry/admins @open-telemetry/assign-reviewers-action-maintainers
/repositories/build-tools.tf: @open-telemetry/admins @open-telemetry/technical-committee
/repositories/community.tf: @open-telemetry/admins @open-telemetry/governance-committee
/repositories/cpp-build-tools.tf: @open-telemetry/admins @open-telemetry/cpp-maintainers
/repositories/docs-ja.tf: @open-telemetry/admins @open-telemetry/docs-ja-maintainers
/repositories/gh-manager.tf: @open-telemetry/admins @open-telemetry/project-infra
/repositories/github.tf: @open-telemetry/admins @open-telemetry/governance-committee @open-telemetry/technical-committee
/repositories/govanityurls.tf: @open-telemetry/admins @open-telemetry/collector-contrib-maintainers @open-telemetry/collector-maintainers @open-telemetry/go-instrumentation-maintainers @open-telemetry/go-maintainers       
/repositories/opamp-go.tf: @open-telemetry/admins @open-telemetry/opamp-go-maintainers
/repositories/opamp-spec.tf: @open-telemetry/admins @open-telemetry/opamp-spec-maintainers
/repositories/opentelemetry-android.tf: @open-telemetry/admins @open-telemetry/android-maintainers
/repositories/opentelemetry-collector.tf: @open-telemetry/admins @open-telemetry/collector-maintainers
/repositories/opentelemetry-collector-contrib.tf: @open-telemetry/admins @open-telemetry/collector-contrib-maintainers
/repositories/opentelemetry-collector-releases.tf: @open-telemetry/admins @open-telemetry/collector-contrib-maintainers
/repositories/opentelemetry-configuration.tf: @open-telemetry/admins @open-telemetry/configuration-maintainers
/repositories/opentelemetry-cpp.tf: @open-telemetry/admins @open-telemetry/cpp-maintainers
/repositories/opentelemetry-cpp-contrib.tf: @open-telemetry/admins @open-telemetry/cpp-contrib-maintainers @open-telemetry/cpp-maintainers
/repositories/opentelemetry-demo.tf: @open-telemetry/admins @open-telemetry/demo-maintainers
/repositories/opentelemetry-dotnet.tf: @open-telemetry/admins @open-telemetry/dotnet-maintainers
/repositories/opentelemetry-dotnet-contrib.tf: @open-telemetry/admins @open-telemetry/dotnet-contrib-maintainers
/repositories/opentelemetry-dotnet-instrumentation.tf: @open-telemetry/admins @open-telemetry/dotnet-instrumentation-maintainers
/repositories/opentelemetry-ebpf-instrumentation.tf: @open-telemetry/admins @open-telemetry/ebpf-instrumentation-maintainers
/repositories/opentelemetry-ebpf-profiler.tf: @open-telemetry/admins @open-telemetry/ebpf-profiler-maintainers
/repositories/opentelemetry-erlang.tf: @open-telemetry/admins @open-telemetry/erlang-maintainers
/repositories/opentelemetry-erlang-contrib.tf: @open-telemetry/admins @open-telemetry/erlang-contrib-maintainers @open-telemetry/erlang-maintainers 
/repositories/opentelemetry-go.tf: @open-telemetry/admins @open-telemetry/go-maintainers
/repositories/opentelemetry-go-build-tools.tf: @open-telemetry/admins @open-telemetry/collector-contrib-maintainers @open-telemetry/collector-maintainers @open-telemetry/go-maintainers
/repositories/opentelemetry-go-compile-instrumentation.tf: @open-telemetry/admins @open-telemetry/go-compile-instrumentation-maintainers
/repositories/opentelemetry-go-contrib.tf: @open-telemetry/admins @open-telemetry/go-maintainers
/repositories/opentelemetry-go-instrumentation.tf: @open-telemetry/admins @open-telemetry/go-instrumentation-maintainers
/repositories/opentelemetry-go-vanityurls.tf: @open-telemetry/admins @open-telemetry/collector-maintainers @open-telemetry/go-maintainers
/repositories/opentelemetry-helm-charts.tf: @open-telemetry/admins @open-telemetry/helm-maintainers
/repositories/opentelemetry-injector.tf: @open-telemetry/admins @open-telemetry/injector-maintainers
/repositories/opentelemetry-io.tf: @open-telemetry/admins @open-telemetry/docs-maintainers
/repositories/opentelemetry-java.tf: @open-telemetry/admins @open-telemetry/java-maintainers
/repositories/opentelemetry-java-contrib.tf: @open-telemetry/admins @open-telemetry/java-contrib-maintainers
/repositories/opentelemetry-java-examples.tf: @open-telemetry/admins @open-telemetry/java-contrib-maintainers @open-telemetry/java-instrumentation-maintainers @open-telemetry/java-maintainers
/repositories/opentelemetry-java-instrumentation.tf: @open-telemetry/admins @open-telemetry/java-instrumentation-maintainers
/repositories/opentelemetry-js.tf: @open-telemetry/admins @open-telemetry/javascript-maintainers
/repositories/opentelemetry-js-contrib.tf: @open-telemetry/admins @open-telemetry/javascript-maintainers
/repositories/opentelemetry-lambda.tf: @open-telemetry/admins @open-telemetry/lambda-extension-maintainers
/repositories/opentelemetry-network.tf: @open-telemetry/admins @open-telemetry/network-maintainers
/repositories/opentelemetry-network-build-tools.tf: @open-telemetry/admins @open-telemetry/network-maintainers
/repositories/opentelemetry-operator.tf: @open-telemetry/admins @open-telemetry/operator-maintainers
/repositories/opentelemetry-php.tf: @open-telemetry/admins @open-telemetry/php-maintainers
/repositories/opentelemetry-php-contrib.tf: @open-telemetry/admins @open-telemetry/php-maintainers
/repositories/opentelemetry-php-instrumentation.tf: @open-telemetry/admins @open-telemetry/php-maintainers
/repositories/opentelemetry-proto.tf: @open-telemetry/admins @open-telemetry/technical-committee
/repositories/opentelemetry-proto-go.tf: @open-telemetry/admins @open-telemetry/go-maintainers @open-telemetry/proto-go-maintainers
/repositories/opentelemetry-proto-java.tf: @open-telemetry/admins @open-telemetry/java-instrumentation-maintainers @open-telemetry/java-maintainers 
/repositories/opentelemetry-python.tf: @open-telemetry/admins @open-telemetry/python-maintainers
/repositories/opentelemetry-python-contrib.tf: @open-telemetry/admins @open-telemetry/opentelemetry-python-contrib-maintainers
/repositories/opentelemetry-ruby.tf: @open-telemetry/admins @open-telemetry/ruby-maintainers
/repositories/opentelemetry-ruby-contrib.tf: @open-telemetry/admins @open-telemetry/ruby-contrib-maintainers @open-telemetry/ruby-maintainers       
/repositories/opentelemetry-rust.tf: @open-telemetry/admins @open-telemetry/rust-maintainers
/repositories/opentelemetry-rust-contrib.tf: @open-telemetry/admins @open-telemetry/rust-maintainers
/repositories/opentelemetry-sandbox-web-js.tf: @open-telemetry/admins @open-telemetry/sandbox-web-js-maintainers
/repositories/opentelemetry-specification.tf: @open-telemetry/admins @open-telemetry/technical-committee
/repositories/opentelemetry-sqlcommenter.tf: @open-telemetry/admins @open-telemetry/sqlcommenter-maintainers
/repositories/opentelemetry-swift.tf: @open-telemetry/admins @open-telemetry/swift-maintainers
/repositories/otel-arrow.tf: @open-telemetry/admins @open-telemetry/arrow-maintainers
/repositories/oteps.tf: @open-telemetry/admins @open-telemetry/technical-committee
/repositories/prometheus-interoperability-spec.tf: @open-telemetry/admins @open-telemetry/prometheus-interoperability
/repositories/semantic-conventions.tf: @open-telemetry/admins @open-telemetry/specs-semconv-maintainers @open-telemetry/technical-committee
/repositories/semantic-conventions-java.tf: @open-telemetry/admins @open-telemetry/java-instrumentation-maintainers @open-telemetry/java-maintainers
/repositories/sig-contributor-experience.tf: @open-telemetry/admins @open-telemetry/sig-contributor-experience-maintainers
/repositories/sig-end-user.tf: @open-telemetry/admins @open-telemetry/sig-end-user-maintainers
/repositories/sig-mainframe.tf: @open-telemetry/admins @open-telemetry/sig-mainframe-maintainers
/repositories/sig-project-infra.tf: @open-telemetry/admins @open-telemetry/sig-project-infra-maintainers
/repositories/sig-security.tf: @open-telemetry/admins @open-telemetry/sig-security-maintainers
/repositories/weaver.tf: @open-telemetry/admins @open-telemetry/weaver-maintainers

* @open-telemetry/admins
